{% extends 'base.html' %}
{% load static %}
{% block title %} Resume {% endblock title %}
{% block resume %}
<div class="container mt-4 ">
    <h3 class="text-center alert alert-info">Create Your Resume Online </h3>
    <div class="row">
        <div class="col-lg-4">
            <h4 class="text-center alert alert-warning">Setup your profile</h4>
            <form method="POST" action="" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="card" style="width: 22rem;">
                    <div class="card-body">
                        {% if messages %}
                        <div class="text-center alert alert-success">
                            {% for message in messages %}
                            <strong {% if message.tags %} class="{{message.tags}}" {% endif%}>{{message}}</strong>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% for fr in form %}
                        {{fr.label_tag}}<br>
                        <div class="form-group">
                            <div class="input-group">
                                {{fr}}<br>
                            </div>
                            <div>{{fr.errors}}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <input class="btn btn-success" type="submit" value="Add Data">

                </div>

            </form>
        </div>
        <div class="col-lg-8">
            <h4 class="text-center alert alert-danger">List of Users Data</h4>
            {% if show %}
            <table class="table table-responsive ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Firstname</th>
                        <!-- <th scope="col">Lastname</th> -->
                        <th scope="col">Email</th>
                        <th scope="col">City</th>
                        <!-- <th scope="col">Country</th> -->
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for st in show %}
                    <tr>
                        <th scope="row"><img src="{{st.profile_image}}" class=" rounded-circle" width="50px"
                                height="50px"></th>
                        <td>{{st.username}}</td>
                        <td>{{st.first_name}}</td>
                        <!-- <td>{{st.last_name}}</td> -->
                        <td>{{st.email}}</td>
                        <td>{{st.city}}</td>
                        <!-- <td>{{st.country}}</td> -->
                        <td>
                            <a href="{% url 'update' st.id %}" class="btn btn-warning btn-sm"
                                style="margin-bottom: 5px; width: 100%;">Edit</a>
                            <br>
                            <form action="{% url 'delete' st.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock resume %}
