{% extends 'base.html' %}
{% load static %}
{% block title %} reset done {% endblock title %}
{% block reset_done %}
<section id="features" class="features" style="margin-top: 10px;">
    <div class="container mt-4">
        <div class="row justify-content-md-center">
            <div class="col-sm-6 ">

                <h4 class="text-center alert alert-warning">Email has been send please check !</h4>
                <a class="btn btn-primary text-center d-block" href="{% url 'password_reset' %}"
                    value="Back to Home">Back</a>
            </div>
        </div>
    </div>
</section>

{% endblock reset_done %}
