{% extends 'base.html' %}
{% load static %}
{% block title %} reset {% endblock title %}
{% block confirm_reset %}
<section id="features" class="features" style="margin-top: 10px;">
    <div class="container mt-4">
        <div class="row justify-content-md-center">
            <div class="col-sm-6 ">
                <h4 class="text-center alert alert-warning">Reset Your Password </h4>
                <form method="POST" action="" novalidate>
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            {% for fl in form %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div> {{fl.label_tag}}
                                        <input class="form-control" id="{{ fl.id_for_label }}" maxlength="30"
                                            name="{{ fl.html_name }}" placeholder="Enter your {{ fl.html_name }}"
                                            type="password" size="50" />
                                        {{ fl.errors }}
                                    </div>
                                </div>
                                {% endfor %}
                                <input class="btn btn-success" type="submit" value="Reset Password"
                                    style="margin-top: 10px;">
                                <a class="btn btn-primary" href="{% url 'login' %}" style="margin-top: 10px;"
                                    value="Back to Home">Back</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock confirm_reset %}
